.navbar{
    width: 90%;
    margin: 0 auto;
}

.logo{
    height: 40px;
}

.navs> a:hover, a:visited {

    text-align: center;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(255, 95, 188), rgb(168, 26, 168));
    border-image-slice: 1;

}
.navs> a{
    text-decoration: none;
    margin-left: 2em;
    color: #332e36;
}