.events{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.controls{
  padding-left: 30%;
}

.event-details {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
} 

.event-details img{
  display: block;
  
}