.footerImg{
    width: 20%;
    margin: 10px 40%;

}

.footer {
    
}

.carImg{
    height: 150px;
    width: 230px;
    margin: 10px auto;
}

.carosel-container{
    width: 230px;
}

.social-links a{
    text-decoration: none;
    color: rgb(39, 35, 35);
    /* font-size: small; */
}